.header {
  height: 53px;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
}

.header__icon {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  flex: 0 0 auto;
  border-radius: 50%;
  padding: 14px;
  &:hover {
    background: rgba(77, 77, 77, 0.6);
  }
}

.navbar-nav{
}
.nav {
  display: flex;
  width: 100%;
  height: 100%;
  &__sub {
		// color: blue;
  }
	&__item{
		vertical-align:top;
		// padding: 5px 12px !important

	}
	// @media(max-width:991.98px) {
	// 	&__item{
	// 		padding: 10px 0 !important
	// 	}
	// }
}

.navbar-toggler {
  background-color: #5b9dfe;
}
