@media screen and (min-width: 768px) {
  #content-widget {
    visibility: none;
  }
}



#content_widget .mb-4,
.my-4 {
  margin-bottom: 0.9rem !important;
}

#content_widget .mt-4,
.my-4 {
  margin-top: 0.9rem !important;
}

.title_widget {
  font-size: 10px;
  font-weight: 900;
}
.circle_style {
  list-style: circle;
}

.center_object {
  text-align: center;
}

.widget__card {
  padding: 0.62rem 0.8rem;
}
.widget__text {
  font-size: 13px;
  font-weight: 400;
}
.widget__img {
  margin-right: 0rem;
}

.widget__hr {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
