html,
body {
  position: relative;
  width: 100%;
  padding-top: 56px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue,
    ヒラギノ角ゴ pron w3, Hiragino Kaku Gothic ProN, Arial, メイリオ, Meiryo,
    sans-serif;
  box-sizing: border-box;
}
